
body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    background-color: #ffffff;
    margin : 2em;
    
  }
  h1 {
    text-align: center;
    color: #000000;
    font-style: bold;
  }
  h2{
    text-align: center;
    color: #000000;
    font-style: bold;
  }
  h3{
    text-align: center;
    color: #000000;
    font-style: bold;
  }
  h4{
    text-align: center;
    color: #000000;
    font-style: bold;
    font-size: 12px;
  }
  .box{
    color: #FFFFFF;
    max-width: 70vw;
    margin: 4em auto;
    background-color: #acaeb159;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.7);
    text-align: center;
    overflow: hidden;
  }
  .cc{
    display: flex;
    justify-content: flex-start;
    margin: 0.5em;
    font-style: italic;
  }
  .cc img{
    height: 1em;
    opacity: 0.6;
  }
  model-viewer{
    width: 100%;
    height: 70vh;
  }